---
extends: default

rules:
  line-length: disable

  # Single-document YAML files don't strictly need the '---' marker at the top.
  document-start: disable

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    require-starting-space: true
    min-spaces-from-content: 1

ignore: |
  .git/
  .github/
